:root {
    --timer-value: 9s;
  }
  
  .button{
      font-size: 2.25rem;
      padding: 1rem 2rem;
      margin: 0.5rem 0;
      /*background: linear-gradient(90deg, #1B42A6, #223669);*/
      background: var(--button-background);
      color:black;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0px 30px 25px -18px rgba(5, 5, 5, 0.788);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
  }
  .button.disabled{
    background: linear-gradient(90deg, #777777, #272727);
    color: #dfdfdf;
    opacity: 0.4;
    box-shadow: none;
  }
  
  .button.disabled:active{
    box-shadow: none;
  }
  .button.light{
      background: linear-gradient(90deg, #dfdfdf, #cecece);
      /*color:#1B42A6;*/
      color: var(--main-color);
  }
  
  .button.warning{
    background: linear-gradient(90deg, #ffa939, #d48012);
    color:#e4e4e4;
  }
  
  .button:active{
      transition: 0.2s;
      box-shadow: 0px 18px 25px -18px rgba(5, 5, 5, 0.788);
  }
  
  #countdown {
      position: relative;
      margin: auto;
      height: 40px;
      width: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #countdown-number {
      color: #1B42A6;
      display: inline-block;
      font-size: 1.45rem;
      font-weight: 800;
        letter-spacing: 0px;
    }
    
    #countdown svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      transform: rotateY(-180deg) rotateZ(-90deg);
    }
    
    svg circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 3px;
      /* stroke: #1B42A6; */
      fill: none;
      animation: countdown var(--timer-value) linear forwards;
    }
    
    @keyframes countdown {
      from {
        stroke-dashoffset: 0px;
      }
      to {
        stroke-dashoffset: 113px;
      }
    }
  
    .button.success, .button.success svg circle, .button.success #countdown-number{
      color: #229843;
      stroke: #229843;
    }
  
    .button.default, .button.default svg circle, .button.default #countdown-number{
      color: var(--main-color);
      stroke: var(--main-color);
    }
  
    .button.error, .button.error svg circle, .button.error #countdown-number{
      color: #CE3A31;
      stroke:#CE3A31;
    }
  
    button.button.submit{
      background: linear-gradient(90deg, #00a862, #0f8654);
    }
    button.button.cancel{
      background: linear-gradient(90deg, rgb(211, 0, 0), rgb(151, 4, 4));
    }
  
    button.button.service{
      background: var(--service-button-bgcolor);
    }
    .button-full-width{
      width: 100%;
    }
  
    .button-wrapper{
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      width: 100%;
    }