.secret-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    z-index: 10;
}

.secret-btn-dev {
    position: absolute;
    bottom: 0;
    left: 40%;
    padding: 1rem;
    min-width: 5rem;
    z-index: 10;
}

.secret-btn-dev.active-label {
    background-color: rgba(210, 30, 30, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: 900;
}

.secret-btn-dev.active-label span {
    font-size: 12px;
}

.header {
    box-sizing: border-box;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.25rem;
    position: sticky;
    z-index: 9;
    color: rgb(216, 216, 216);
    flex-direction: row-reverse;
}

.header-buttons-block {
    box-sizing: border-box;
    height: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-buttons-block::-webkit-scrollbar {
    display: none;
}

.header-flag-wrapper {
    position: relative;
    z-index: 3;
    height: 3.75vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 0.65;
    transition: 0.2s;
}

.header-flag-wrapper.active {
    box-shadow: 0vw 0vw 3.5vw 0vw rgba(223, 223, 223, 0.61);
    opacity: 1;
    transform: scale(1.21);
}

.header-flag-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 50%;

    background: radial-gradient(circle at 10% 10%, #00000000, #000000bb);
    -webkit-box-shadow: inset 0px 0px 30px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 30px -15px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 30px -15px rgba(0, 0, 0, 1);
}

.header-flag-wrapper img {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    border-radius: 50%;
}

.header-logo-block {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
    width: 30%;
}

.header-logo {
    height: 90%;
    width: 100%;
    background-image: var(--logo-start-screen);
    background-size: contain;
    /* background-position: center center; */
    background-repeat: no-repeat;
}

.header-logo.black {
    background-image: var(---logo-start-screen);
}

.header-logo div {
    display: inline-flex;
}

.header-logo div svg {
    width: 70%;
}