.home_page_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_page_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.home_page_user_ico, .home_page_locker_ico{
    height: 20vh;
    aspect-ratio: 1/1;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home_page_user_ico{
    background-image: url(/src/assets/img/user-def.png);
}

.home_page_locker_ico{
    background-image: url(/src/assets/img/locker.png);
}